<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <import resource="spring-dao.xml"/>
    <import resource="spring-service.xml"/>
    <import resource="spring-mvc.xml"/>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/Show/**"/>
            <mvc:mapping path="/Weapon/**"/>
            <mvc:mapping path="/Map/**"/>
            <bean class="InterCepter.LoginInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/Admin/**"/>
            <bean class="InterCepter.AdminInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="InterCepter.LimitInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>