<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 扫描service相关的bean -->
    <context:component-scan base-package="Service" />

    <!--UserInfoServiceImpl注入到IOC容器中-->
    <bean id="UserInfoServiceImpl" class="Service.UserInfoServiceImpl">
        <property name="userMapper" ref="userMapper"/>
        <property name="administratorMapper" ref="administratorMapper"/>
    </bean>
    <!--EventServiceImpl注入到IOC容器中-->
    <bean id="EventServiceImpl" class="Service.EventServiceImpl">
        <property name="eventMapper" ref="eventMapper"/>
    </bean>
    <!--NewsServiceImpl注入到IOC容器中-->
    <bean id="NewsServiceImpl" class="Service.NewsServiceImpl">
        <property name="newsMapper" ref="newsMapper"/>
    </bean>
    <!--WeaponServiceImpl注入到IOC容器中-->
    <bean id="WeaponServiceImpl" class="Service.WeaponServiceImpl">
        <property name="weaponMapper" ref="weaponMapper"/>
        <property name="keySentenceMapper" ref="keySentenceMapper"/>
    </bean>
    <!--LocationServiceImpl注入到IOC容器中-->
    <bean id="LocationServiceImpl" class="Service.LocationServiceImpl">
        <property name="locationMapper" ref="locationMapper"/>
    </bean>
    <!--MessageServiceImpl注入到IOC容器中-->
    <bean id="MessageServiceImpl" class="Service.MessageServiceImpl">
        <property name="messageMapper" ref="messageMapper"/>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource" />
    </bean>

</beans>